    <!-- choice training right top field  -->
    <div class="right_top" style="grid-area: right_top;">
        <div class="add_text title" >
            <p>
                {% trans 'Titel' %}
            </p>
            <i class="edit_icon">
               edit
            </i>
        </div>
        <div class="add_text overview">
            <p>
                {% trans 'Beschreibung' %}
            </p>
            <i class="add_icon">
                add
            </i>
        </div>
    </div>
    <!-- ###end### choice training right top field -->