{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}


<li class="table-row  align-items-center {{ heading_class }} row"  data-incl_ex_id="{{ ex_id }}">
  <div class="col-12 col-md-1 p-2 draganddrop">
      <i class="fas d-none d-md-flex fa-th-large "></i>
      <span class="sorting_small_device d-md-none w-max d-flex mx-auto align-items-center">
        <span class="d-inline-block mr-3"> {% trans 'Verschieben an Position'%}: </span>
        <i class="fas fa-angle-up sorting_arrow txt-c-blue-4" data-dir="up" data-kind="{{ kind }}" onclick="ClickOnSortingArrow(this)"></i>
        <span class="position d-inline-block mx-2">{{ next_pos }}</span>  
        <i class="fas fa-angle-down sorting_arrow txt-c-blue-4" data-dir="down" data-kind="{{ kind }}" onclick="ClickOnSortingArrow(this)"></i>
      </span>
  </div>                          <!-- drag and drop -->
  <div class="col-12 col-sm d-flex flex-md-nowrap flex-wrap align-items-center">
    <div class="col ">{{ img|safe }}</div>                          <!-- image -->
    <div class="col text-center pt-2 pt-md-0">{{ title|safe }}</div>
  </div>                          <!-- image -->
  <div class="col col-md-2 d-none text-center d-xl-block">{{ equipment|safe }}</div>
  <div class="col col-md-4 set_column">{{ sets|safe }}</div>
  <div class="col-12 col-md delete text-center text-md-right text-center">
    <i class="fas fa-trash bg-c-red-1 mt-2 mt-md-0" data-incl_ex_id="{{ ex_id }}" data-kind="{{ kind }}" onclick="fDeleteExercise(this)"></i>
  </div>                           <!-- delete -->
</li>


