{% load static %}
{% load training_plans_filters %}
{% load custom_tags %}
{% load i18n %}
        
        <div class="human-muscles_labels col-12 d-flex flex-wrap f-c-c">
            <input type="checkbox" class="muscles-input-heading schulter-input" id="schulter-i"> <label class="heading-schulter-label muscle-group-heading col-12">{% trans 'Schulter' %}</label>
            {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col col-lg-6" area='shoulders' area_weaks=area_weaks %}
        </div>
        <!-- muscle groups labels left -->
        <div class="human-muscles_labels col col-lg-4 d-flex flex-wrap f-c-c">
            <input type="checkbox" class="muscles-input-heading arme-input" id="arme-i"> <label class="heading-arme-label muscle-group-heading col-12">{% trans 'Arme' %}</label>
            {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" left='left' area='arms' area_weaks=area_weaks %}
            <input type="checkbox" class="muscles-input-heading brust-input" id="brust-i"> <label class="heading-brust-label muscle-group-heading  col-12">{% trans 'Brust' %}</label>
            {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" area='chest' area_weaks=area_weaks %}
            <input type="checkbox" class="muscles-input-heading bauch-input" id="bauch-i"> <label class="heading-bauch-label muscle-group-heading col-12">{% trans 'Bauch' %}</label>
            {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" area='bauch' area_weaks=area_weaks %}
        </div>
        <!-- ###end### muscle groups labels left -->


        <!-- muscle groups shapes + Select all button -->
        <div class="human-muscles_picture col col-lg-4  d-none d-lg-flex">

            {% include 'fitness/training_plans/member/manage/generate/components/human_areas.html'%}
        </div>
        <!-- ###end### - muscle groups shapes -->


        <!-- muscle groups labels right -->
        <div class="human-muscles_labels col col-lg-4 d-flex flex-wrap f-c-c">

        <input type="checkbox" class="muscles-input-heading rücken-input" id="rücken-i"> <label class="heading-rücken-label muscle-group-heading col-12">{% trans 'Rücken' %}</label>
        {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" area='back' area_weaks=area_weaks %}
        <input type="checkbox" class="muscles-input-heading po-input" id="po-i"> <label class="sub-po-label muscle-group-heading col-12">{% trans 'Po' %}</label>
        {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" area='glutes' area_weaks=area_weaks %}
        <input type="checkbox" class="muscles-input-heading beine-input" id="beine-i"> <label class="heading-beine-label muscle-group-heading col-12">{% trans 'Beine' %}</label>
        {% include 'fitness/training_plans/member/manage/generate/components/checkboxes.html' with col="col" area='legs' area_weaks=area_weaks %}
        </div>
        <!-- ###end### muscle groups labels right -->
        <!-- ###end### - muscle groups labels -->





{% block sub_sub_script %}
<script>
// on click of muscle group load Content
function loadExercises(id) {
    var new_block_id = '#' + id + '_list';
    // create new html div container
    var new_block = "<div id='" + id + "_list'><div>"
    $('#ajax-content').append(new_block);
    // ###end### create new html div container
 
    // get relating data + append to div container
    $(new_block_id).load( "selection/", { "muscle": id } );
    // ###end### get relating data + append to div container
};
// ###end### on click of muscle group load Content



</script>

<script src="{% static "js/human_muscles.js" %}"></script>
{% endblock %}