@charset "UTF-8";
/* colors */
/* colors */
/* gradients */
/* colors */
/* specials */
/* ###end### specials */
/* buttons */
/* ###end### buttons */
/* pictures */
/* ###end### pictures */
/* forms */
/* ###end### forms */
/* cards */
/* ###end### cards */
/* �positions */
/* #end positions */
/* stepper */
.steps-form-3 {
  width: 2px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  background-color: #45526e;
  top: 35px;
}

.steps-form-3 .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative !important;
}

.steps-form-3 .circles .circle-wrapper {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.steps-form-3 .circles .circle-wrapper.next {
  display: none;
}

.steps-form-3 .circles .circle-wrapper p {
  margin-top: 0.5rem;
}

.steps-form-3 .circles .circle-wrapper button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form-3 .circles .circle-wrapper .btn {
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #59698d;
  background-color: white !important;
  color: #59698d !important;
  border-radius: 50%;
  padding: 18px 15px 15px 15px;
  position: absolute;
  right: -35px;
  margin: 0px !important;
}

.steps-form-3 .circles .circle-wrapper .btn .std,
.steps-form-3 .circles .circle-wrapper .btn .right,
.steps-form-3 .circles .circle-wrapper .btn .false,
.steps-form-3 .circles .circle-wrapper .btn .number {
  -webkit-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}

.steps-form-3 .circles .circle-wrapper .btn .number {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.steps-form-3 .circles .circle-wrapper .btn .right {
  position: relative;
  top: 3px;
}

.steps-form-3 .circles .circle-wrapper .btn .false,
.steps-form-3 .circles .circle-wrapper .btn .right {
  display: none;
  opacity: 0;
}

.steps-form-3 .circles .circle-wrapper .btn.success {
  -webkit-box-shadow: 0 2px 5px 0 rgba(76, 175, 80, 0.7), 0 4px 12px 0 rgba(76, 175, 80, 0.3);
  box-shadow: 0 2px 5px 0 rgba(76, 175, 80, 0.7), 0 4px 12px 0 rgba(76, 175, 80, 0.3);
  border-color: #00c851 !important;
  background-color: white !important;
  color: #81c784 !important;
}

.steps-form-3 .circles .circle-wrapper .btn.attention {
  -webkit-box-shadow: 0 2px 5px 0 rgba(244, 67, 54, 0.7), 0 4px 12px 0 rgba(244, 67, 54, 0.3);
  box-shadow: 0 2px 5px 0 rgba(244, 67, 54, 0.7), 0 4px 12px 0 rgba(244, 67, 54, 0.3);
  border-color: #ef5350 !important;
  background-color: white !important;
  color: #ef5350 !important;
}

.steps-form-3 .circles .circle-wrapper .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  border: 2px solid #4285f4 !important;
  color: #4285f4 !important;
  background-color: white !important;
}

.steps-form-3 .circles .circle-wrapper .btn .fas {
  font-size: 2rem;
  position: relative;
  bottom: 6px;
}

.steps-form-3 .circles .circle-wrapper #circle-end {
  position: absolute;
  bottom: 0px;
}

.steps-form-3 .circles .circle-wrapper.active {
  width: 0px !important;
  height: 70px !important;
  max-width: 0px !important;
}

.steps-form-3 .circles .circle-wrapper.active .btn.waves-effect.circle {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  border-color: #0099cc !important;
  background-color: white !important;
  color: #0099cc !important;
}

.steps-form-3 .circles .circle-wrapper #circle-end {
  border-color: #59698d !important;
  background-color: white !important;
  color: #59698d !important;
}

/* #end  stepper */
.add_training_unit {
  position: absolute;
  left: 50%;
  border-radius: 0px 0px 20px 20px;
  padding: 8px 10px;
  z-index: 1;
  top: 0px;
  margin: 0px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 350px;
}

.add_training_unit span {
  margin: 0px;
  width: 35px;
  height: 35px;
  background: #00d2ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3a7bd5), to(#00d2ff));
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  pointer-events: none;
  position: relative;
  right: 20px;
}

.add_training_unit span i {
  -webkit-transform: scale(1.5) translate(0, -4px);
          transform: scale(1.5) translate(0, -4px);
}

.heading {
  font-size: 17px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 4px;
  border-radius: 2px;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: bold;
}

/* carousel */
.carousel {
  margin-top: 60px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .left_circles {
  position: absolute;
  left: 30px;
}

.carousel .carousel-inner {
  overflow: visible;
  width: 100%;
  position: relative;
  padding: 0px 100px;
}

/* #end carousel */
/* roundeded checkbox */
.rounded-checkbox {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.rounded-checkbox label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}

.rounded-checkbox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #43bfea;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rounded-checkbox label:hover::after {
  opacity: 0.3;
}

.rounded-checkbox input[type='checkbox'] {
  visibility: hidden;
}

.rounded-checkbox input[type='checkbox']:checked + label:after {
  opacity: 1;
}

.view .switch label {
  font-weight: bold;
  color: #1c2331;
}

/* end roundeded checkbox */
#schedule-form {
  display: none;
}

#schedule-form #Schedule {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#schedule-form .card {
  height: 500px;
}

#schedule-form .e-content-wrap {
  overflow: hidden;
}

#schedule-form .e-content-table {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.schedule-context-menu .e-menu-item .new::before {
  content: '\e7f9';
}

.schedule-context-menu .e-menu-item .edit::before {
  content: '\ea9a';
}

.schedule-context-menu .e-menu-item .recurrence::before {
  content: '\e308';
  font-weight: bold;
}

.schedule-context-menu .e-menu-item .today::before {
  content: '\e322';
}

.schedule-context-menu .e-menu-item .delete::before {
  content: '\e94a';
}

.e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 14px;
}

.schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 12px;
}

.e-schedule-table .e-appointment {
  background: #3cacd1 !important;
  color: white;
}

.e-schedule-table .e-appointment .first-row {
  margin-bottom: 3px;
}

.e-schedule-table .e-appointment .number {
  width: 20px;
  height: 20px;
  margin: 0px;
  pointer-events: none;
}

.e-schedule-table .e-appointment .number span {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.e-schedule-table .e-appointment .ex_count_box {
  position: absolute;
  right: 5px;
  top: 2px;
}

.e-schedule-table .e-appointment .description {
  font-weight: normal;
}

.e-schedule-table .e-appointment .duration {
  position: relative;
  right: -90px;
}

.e-schedule-table .e-month-view .e-appointment .number {
  width: 15px !important;
  height: 15px !important;
  margin: 0px !important;
  left: 2px !important;
  bottom: 1px !important;
}

.e-schedule-table .e-month-view .e-appointment .number span {
  left: 3px !important;
  bottom: 2px !important;
}

/* copy dialog */
#copy_dialog {
  min-height: 0px !important;
  min-width: 400px !important;
  width: 300px !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50% !important;
  height: 280px !important;
  top: 40% !important;
}

#copy_dialog #dlgContent {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#copy_dialog #dlgContent .form-group {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#copy_dialog #dlgContent .form-group .position {
  position: relative;
  left: 50% !important;
  -webkit-transform: translate(-60%);
          transform: translate(-60%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#copy_dialog #dlgContent .form-group .number {
  width: 30px !important;
  height: 30px !important;
  margin: 0px !important;
  left: 10px !important;
  bottom: 1px !important;
  pointer-events: none;
  text-align: center;
}

#copy_dialog #dlgContent .form-group .number #training_unit_copy_number {
  top: 4px !important;
  position: relative;
}

#copy_dialog #dlgContent .form-group .number .point {
  position: relative;
  top: 4px !important;
}

#copy_dialog #dlgContent .form-group .e-slider-container {
  width: 250px;
}

#copy_dialog .e-dlg-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  overflow: hidden;
}

/* #end copy dialog */
#schedule_unit_edit_content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.e-contextmenu-wrapper .hidden_menu {
  display: none !important;
}
/*# sourceMappingURL=base.css.map */