@import url(http://fonts.googleapis.com/css?family=Muli);
@import url('base.css');
@import '../variables/variables.scss';


#full_screen{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


/* icons */
.navbar-toggler {
  width: max-content;
  height: 30px;
}
.toggle-element--is-translated {
  width: max-content;
  height: 30px;
  .animated-icon3 {
    right: 8px;
  }
}
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 8px;
  bottom: 2px;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: $blue;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/* #end icons */

/* �form */
/* search form + Button */
.cFld {
  background-color: white;
  border: 1px solid blue;
  border-radius: 3px;
}

.cIbox {
  border: 1px solid black;
  box-shadow: silver 0px 0px 10px inset;
}

.cS-Hdg {
  font-weight: bold;
  color: #002b4b;
  font-size: 13px;
}

.cS-Hdg::after {
  width: 50px;
  border-top: 2px solid red;
}

.cInr {
  font-size: 18px;
  color: lightyellow;
  font-weight: bold;
  text-align: center;
}

.form_must_icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* ###end### search form + Button */
/* ###end### form */

/* button */
.realistic_radio_btn {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: $on_off_btn_color;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f4f4f4),
    color-stop(100%, #e3e3e3)
  );
  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f4f4f4),
    color-stop(100%, #e3e3e3)
  );
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 10px 10px 15px #e3e3e3,
    -10px 10px 15px #e3e3e3, -15px -15px 15px rgba(255, 255, 255, 0.4),
    15px -15px 15px rgba(255, 255, 255, 0.4), inset 0px 2px 0px #fff;
  -webkit-transition: box-shadow 0.3s ease-in-out,
    background-image 0.3s ease-in-out, text-shadow 0.5s linear,
    color 0.5s linear;
  -moz-transition: box-shadow 0.3s ease-in-out,
    background-image 0.3s ease-in-out, text-shadow 0.5s linear,
    color 0.5s linear;
  padding: 7px 0px 3px;

  &.active {
    color: $activated_border_color;
    text-shadow: 0px 0px 7px lighten($main_card_background_color, 20%);
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #e3e3e3),
      color-stop(100%, #f4f4f4)
    );
    background-image: -moz-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #e3e3e3),
      color-stop(100%, #f4f4f4)
    );
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15),
      10px 10px 15px rgba(255, 255, 255, 0.4),
      -10px 10px 15px rgba(255, 255, 255, 0.4), -10px -10px 15px #e3e3e3,
      10px -10px 15px #e3e3e3, inset 0px -3px 0px rgba(255, 255, 255, 0.4),
      inset 0px 3px 3px rgba(0, 0, 0, 0.04);
  }
}

.cBtn {
  font-family: Roboto, sans-serif;
  font-size: 7.5px;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  border: 1px solid #8f95a0;
  background-color: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  color: #1d4464; /* blue sidebar text color */
  padding: 8px 5px;
}

.cBtn:hover {
  background-color: rgba(158, 158, 158, 0.2);
  border: 1px solid #3aa6d0;
  color: #3aa6d0;
  font-weight: bold;
}

.cBtn:active {
  background-color: rgba(158, 158, 158, 0.4);
}
/* ###end### button */

/* help-icon */
.help-tip {
  position: absolute;
  right: 0px;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #fff;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1e2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  z-index: 10;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  right: 10px;
  top: -12px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}
/* CSS animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* ###end### help-icon */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  min-height: 1000px;
  position: relative;
}

.window {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0px;
  display: inline-block;
  background-color: white;
}

.sidebar_navigation_container {
  display: inline-block;
}

.sub_sub_content {
  padding: 50px 0px 10px 80px;
  position: relative;
}

.sub_content {
  padding: 0px;
  position: relative;
  border-top: 1px solid black;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100%;

}

.main_heading {
  height: 70px;
  margin-top: 100px;
}

/* main content */
.main_content {
  position: relative;
  .e-sidebar-context {
    display: flex;
    height: 100%;
    min-height: 460px;
    background: #daebf7;;
    overflow: hidden;
  }
  .sidebar-content {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
  .sidebar-treeview {
    position: absolute;
  }
}

/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

ul.messages li.success {
  background: #81ce81;
}

ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background: #a30029;
  color: #e9828e;
}

ul.messages li.error a {
  color: #e9828e;
}

ul.messages li.info {
  background: #faffae;
  color: #696b4e;
}

ul.messages li.info a {
  color: #1586de;
}

ul.messages li.warning {
  background: #de9404;
}

ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.close {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}
/* ###end### messages */

/* social-auth */
.social {
  float: right;
}

.social li {
  list-style: none;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

.social li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

.social li.facebook {
  background: #3b5399;
}

.social li.twitter {
  background: #00cffa;
}

.social li.google {
  background: #de1710;
}
/* ###end### social-auth */

/* images, list, detail */
.image-preview,
.image-detail {
  max-width: 300px;
  float: left;
  margin: 0 20px 20px 0;
}

.image-detail {
  margin-top: 20px;
}

.image-info div {
  padding: 20px 0;
  overflow: auto;
}

.std-count {
  color: #aaa;
  border: 3px solid #bbb;
  border-radius: 26px;
  padding: 10px 20px;
  margin: 20px 10px 0;
}

a.like,
a.follow {
  float: right;
  margin-top: -8px;
}

.progress.md-progress {
  background-color: gray;
  width: 240px;
}

.progress-bar {
  background-color: gold;
}

.image-ranking-grid-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: #cdcdcd;
  width: 300px;
  height: 30px;
  position: absolute;
  top: 90%;
}

.grid-item {
  background-color: rgba(227, 180, 112, 0.51);
  font-size: 13px;
  text-align: center;
}

.item-bar {
  grid-column: 2;
  grid-row: 1 / span 2;
  margin: auto;
  margin-top: 5px;
}

.item-button {
  height: 15px;
  margin: auto;
  margin-top: 3px;
  width: 25px;
}

.item-count {
  height: 10px;
  font-size: 5px;
}

#image-list {
  overflow: auto;
}

#image-list .image {
  float: left;
  width: 220px;
  height: 300px;
  margin: 0 10px 10px 10px;
  border-top: 8px solid #12c064;
  background: #eee;
}

#image-list img {
  width: 220px;
  height: 220px;
}

#image-list .info {
  padding: 10px;
}

#image-list .info a {
  color: #333;
}

.image-likes div {
  float: left;
  width: auto;
  padding: 10px;
  text-align: center;
}

.image-likes img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* ###end### images, list, detail */

/* users */

#people-list img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#people-list .user {
  width: 180px;
  float: left;
  padding: 10px;
}

#people-list .info {
  text-align: center;
}

img.user-detail {
  border-radius: 50%;
  float: left;
}

.profile-info {
  float: left;
  overflow: auto;
  margin-right: 20px;
}

.image-container {
  margin-top: 40px;
}

/* actions */

.action {
  clear: both;
  overflow: auto;
}

.action .images {
  float: left;
  margin: 0 10px 10px 0;
}

.action .date {
  font-style: italic;
  color: #ccc;
}

/* list view choice, standard / detail */

.list-view-menu ul {
  list-style-type: none;
  display: flex;
}

.button-small {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #ebe9e4);
  background-image: -moz-linear-gradient(top, #fafafa, #ebe9e4);
  background-image: -ms-linear-gradient(top, #fafafa, #ebe9e4);
  background-image: -o-linear-gradient(top, #fafafa, #ebe9e4);
  background-image: linear-gradient(to bottom, #fafafa, #ebe9e4);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 1px 1px 1px #fffce8;
  -webkit-box-shadow: 0px 0px 1px #f7f788;
  -moz-box-shadow: 0px 0px 1px #f7f788;
  box-shadow: 0px 0px 1px #f7f788;
  font-family: Arial;
  color: #6e6e6e;
  font-size: 20px;
  padding: 7px 13px 7px 13px;
  border: solid #d1cfd1 1px;
  text-decoration: none;
}

.button-small:hover {
  background: #faf9e6;
  background-image: -webkit-linear-gradient(top, #faf9e6, #fffff7);
  background-image: -moz-linear-gradient(top, #faf9e6, #fffff7);
  background-image: -ms-linear-gradient(top, #faf9e6, #fffff7);
  background-image: -o-linear-gradient(top, #faf9e6, #fffff7);
  background-image: linear-gradient(to bottom, #faf9e6, #fffff7);
  text-decoration: none;
}

.standard-list {
  list-style: none;
  display: inline-block;
}

.standard-list li.detail {
  display: none;
}

/* right menu for list ordering, filtering, searching */

.wrapper {
  position: fixed;
  float: right;
  right: 0;
  top: 50%;
  transform: translate(-0%, -50%);
}

.mainMenu {
  width: 60px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  z-index: 1000;
}

.mainMenu:hover {
  width: 250px;
  overflow: visible;
}

.mainMenu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.mainMenu li {
  position: relative;
  display: block;
  width: 250px;
}

/* sub content */
.subMenu {
  background: #273057;
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}

.sub_heading {
  text-align: center;
}

.sub_heading_underline {
  content: '';
  position: relative;
  height: 3px;
  background-color: #65c7ff;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
}

.nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.subMenu a {
  display: block;
  padding: 5px 5px 5px 10px;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #394c7f;
  position: relative;
}

.subMenu a:before {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}

.subMenu a:hover:before {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}

.subMenu a:after {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}

.subMenu a:hover:after {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}

.subMenu a:hover {
  background: #273057;
  background: -moz-linear-gradient(
    top,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  background: -webkit-linear-gradient(
    top,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  background: linear-gradient(
    to bottom,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
  transition: all 0.3s;
  border-bottom: 1px solid #394c7f;
}

.subMenu a:last-child {
  border: none;
}
/* ###end### sub content */

.item:target .subMenu {
  max-height: 10em;
}

.top_line {
  border: 1px solid black;
  margin-top: 60px;
}

.right_border {
  float: right;
  width: 30px;
  height: 100%;
  background-color: black;
}
/* left menu for training plans and meals menaging */

/* colors */
.grVenice_blue {
  @include grVenice_blue;
}
.grSnug_blue {
  @include grSnug_blue;
}
.grLight_blue {
  @include grLight_blue;
}
/* colors */





#save_plan_modal{
  .modal-dialog{
    width: 500px;
    .modal-body{
      padding: 0px 30px;
    }
    .modal-footer{
      color: white;
    }
  }
}


.col{
  height: max-content;
}

.row{
  display: flex;
}