.bg-c-g-d-1 {
  background: #79909b !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#79909b), to(#62757f)) !important;
  background: linear-gradient(to bottom, #79909b 0%, #62757f 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79909b', endColorstr='#62757f',GradientType=0 ) !important;
}

.bg-c-g-d-2 {
  background: #9fa4a8 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fa4a8), to(#828689)) !important;
  background: linear-gradient(to bottom, #9fa4a8 0%, #828689 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fa4a8', endColorstr='#828689',GradientType=0 ) !important;
}

.bg-c-g-d-3 {
  background: #79909b;
  background: radial-gradient(ellipse at center, #79909b 0%, #62757f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79909b', endColorstr='#62757f',GradientType=1 );
}

.bg-c-g-read-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 74, 34, 0.392344)), to(rgba(253, 45, 45, 0.504388)));
  background: linear-gradient(0deg, rgba(195, 74, 34, 0.392344) 0%, rgba(253, 45, 45, 0.504388) 100%);
}

.bg-c-g-blue-1 {
  background: #c2e9fb !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2e9fb), to(#5d98f8)) !important;
  background: linear-gradient(to bottom, #c2e9fb 0%, #5d98f8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e9fb', endColorstr='#5d98f8',GradientType=0 ) !important;
}

.bg-c-g-blue-1-op-8 {
  background: rgba(194, 233, 251, 0.8) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(194, 233, 251, 0.8)), to(rgba(93, 152, 248, 0.8))) !important;
  background: linear-gradient(to bottom, rgba(194, 233, 251, 0.8) 0%, rgba(93, 152, 248, 0.8) 100%) !important;
}

.bg-c-g-blue-2 {
  background: #265775;
  background: -webkit-gradient(linear, left top, left bottom, from(#265775), to(#1c4057));
  background: linear-gradient(to bottom, #265775 0%, #1c4057 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265775', endColorstr='#1c4057',GradientType=0 );
}

.bg-c-g-blue-3 {
  background: #1edcff !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#1edcff), to(#5ee7ff)) !important;
  background: linear-gradient(to bottom, #1edcff 0%, #5ee7ff 100%) !important;
}

.bg-c-g-l-1 {
  background: #fdfbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), color-stop(99%, #ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbfb', endColorstr='#ebedee',GradientType=0 ) !important;
}

.bg-c-g-l-2 {
  background: #e8e8e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#e0e0e0));
  background: linear-gradient(to bottom, #e8e8e8 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e0e0e0',GradientType=0 );
}

.bg-c-g-l-3 {
  background: #f4f7f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f7f9), to(#edf4fa));
  background: linear-gradient(to bottom, #f4f7f9 0%, #edf4fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f9', endColorstr='#edf4fa',GradientType=0 );
}

.bg-c-r-d-1 {
  background: radial-gradient(#79909b, #62757f);
}

.bg-c-d-1 {
  background: #79909b !important;
}

.bg-c-d-2 {
  background: #2d4451 !important;
}

.bg-c-d-3 {
  background: #62757f !important;
}

.bg-c-d-4 {
  background: #2c3b40 !important;
}

.bg-c-blue-1 {
  background: #daebf7 !important;
}

.bg-c-red-1 {
  background: rgba(225, 140, 140, 0.4);
}

.txt-c-l-1 {
  color: white !important;
}

.txt-c-d-1 {
  color: #6c757d !important;
}

.txt-c-blue-1 {
  color: #c2e9fb !important;
}

.txt-c-blue-2 {
  color: #a1d7ff !important;
}

.txt-c-blue-3 {
  color: #5d98f8 !important;
}

.txt-c-blue-4 {
  color: #1edcff;
}

.txt-c-lila-1 {
  color: #5434c6 !important;
}
/*# sourceMappingURL=colors.css.map */